<!DOCTYPE html>
<html>
    <head>
        <!--Meta-->
        <meta charset="utf-8">
        <title>Prueba de sitio con Django</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!--end Meta-->

        <!--StyleSheet-->
        <link rel="stylesheet" href="../../static/css/bootstrap.min.css" type="text/css">
        <link rel="stylesheet" href="../../static/css/style.css" type="text/css">
        <!--end StyleSheet-->
    </head>
    <body>
        {% block content %}{% endblock %}

        <script type="text/javascript">
            alert('hola mundo');
        </script>

        <!--Scripts-->
        <script src="../../static/js/jquery.js"></script>
        <script src="../../static/js/bootstrap.min.js"></script>
        <!-- End Script-->
    </body>
</html>
